body {
    background-image: linear-gradient(rgb(249, 210, 230), #fff5f7);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-size: 7.5vw;
    letter-spacing: 6px;
    line-height: .9;
    margin-bottom: 9vw;
}

* {
    color: #970b58;
    font-family: caveat;
}