h1 {
    font-size: 10vw; 
    letter-spacing: 10px;
}

p {
    text-align: center;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.art {
    object-fit: cover;
    width: 25vw;
    height: 25vw;
    margin: 1vw;
}

.art:active {
    size: 25vw;
    height: auto;
}

.crop-up {
    object-position: 50% 15%;
}