body {
    background-image: linear-gradient(rgb(249, 210, 230), #fff5f7);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-size: 10vw;
    letter-spacing: 10px;
    margin-bottom: 9vw;
}

* {
    color: #970b58;
    font-family: caveat;
}

/* bucket list */

.bucket {
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    grid-template-rows: auto;
    gap: 2.5%;
    margin: auto;
    margin-top: 2.5vw;
    margin-bottom: 5vw;
    width: 85%;
}

.item {
    font-size: 1.9vw;
}

.listSide {
    padding: 0;
}

#label {
    font-size: 5vw;
    font-family: happyCamper;
    text-align: center;
    background-image: linear-gradient(0.25turn, #a9765e, rgb(255, 177, 132), #a9765e);
    background-repeat: no-repeat;
    border: 5px solid white;
    margin: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#bucketImg {
    width: 90%;
    height: auto;
    margin: 0;
    margin-left: 3vw;
}