body {
    background-image: linear-gradient(rgb(249, 210, 230), #fff5f7);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-size: 10vw;
    letter-spacing: 10px;
}

.folderThingy {
    width: 90%;
    margin: auto;
    margin-top: 18px;
    left: 5vw;
    right: 5vw;
}

.listCharas {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.charaTab {
    font-family: happyCamper;
    font-size: 3.25vw;
    text-align: center;
    color: #970b58;
    border: 2px outset grey;
    border-bottom: 0;
    width: 20vw;
    margin: 0;
    margin-right: 1vw;
    padding-top: .5vw;
    z-index: 1;
}

.charaTab:focus {
    z-index: 3;
}

.mochaBtn {
    background-color: #c0bff4;
}

.mizukiBtn {
    background-color: #ffafbd;
}

.karinBtn {
    background-color: #accdc9;
}

.shouyaBtn {
    background-color: #bdbdca;
}

.infoFolder {
    background-color: #edd2a6;
    box-shadow: 0px 0px 5px black;
    position: relative;
    margin: 0;
    z-index: 2;
}

.dialog {
    font-family: caveat;
    font-size: 24px;
    padding: 2vw;
    margin: 0;


    /* grid oh yeah yeah */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
    grid-template-areas: 
        "a b b"
        "c c d"
        "e f f";
}



/* items in infoFolder grid */
.infoFolder img {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.about * {
    display: inline;
}

.pfp {
    grid-area: a;
}

.about {
    grid-area: b;
    font-family: caveat;
    align-self: center;
}

.charaName {
    font-family: happyCamper;
    font-size: 4vw;
    margin-bottom: 5px;
    margin: 0;
    display: block !important;
}

.interests {
    grid-area: c;
}

.outfit {
    grid-area: d;
}

.pic {
    grid-area: e;
}

.plot {
    grid-area: f;
}

