h1 {
    font-size: 10vw; 
    letter-spacing: 10px;
}

p {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    object-fit: cover;
    width: 28vw;
    height: 28vw;
    display: block;
    margin: 0;
    margin-bottom: 7px;
}