body {
    background-image: linear-gradient(rgb(249, 210, 230), #fff5f7);
    background-repeat: no-repeat;
}

h1 {
    font-size: 10vw; 
    letter-spacing: 10px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    object-fit: cover;
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    display: block;
    margin: 0;
    margin-bottom: 7px;
}